<head>
  <style> body { color: red; margin: 5px } </style>
</head>
<body>
  <script>
    // doesn't work!
    document.body.style.margin = 20;
    console.log(document.body.style.margin); // '' (empty string, the assignment is ignored)

    // now add the CSS unit (px) - and it works
    document.body.style.margin = '20px';
    console.log(document.body.style.margin); // 20px

    console.log(document.body.style.marginTop); // 20px
    console.log(document.body.style.marginLeft); // 20px
	
    let computedStyle = getComputedStyle(document.body);
	
    // now we can read the margin and the color from it
    console.log( computedStyle.marginTop ); // 5px
    console.log( computedStyle.color ); // rgb(255, 0, 0)
  </script>
</body>