<body>
  <div>Both divs below are hidden</div>

  <div hidden>With the attribute "hidden"</div>
  
  <div id="elem">JavaScript assigned the property "hidden"</div>
  
  <script>
    elem.hidden = true;
  </script>
</body>